.formHeader {
    border: .0625rem solid rgb(0, 18, 0);
    text-align: center;
    width: 9.375rem;
    height: max-content;
    background-color: green;
}

.dataFields {
    display: flex ;
    flex-direction: column;
    width: 15%;
    justify-content: space-between;
    padding: .3125rem;
}

#sendData {
    width: max-content;
}

td {
    border: .0625rem solid green;
    text-align: center;
    width: 9.375rem;
    height: max-content;
}

